.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  gap: 1.5rem;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

@media (min-width: 640px) {
  .embla__slide {
    flex: 0 0 calc(50% - 0.75rem);
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 calc(33.333% - 1rem);
  }
}
